@font-face {
  font-family: "Yeshi";
  src: url("assets/fonts/EtnaXCondensed-Regular.otf");
}

html body {
  margin: 0;
  padding: 0;
  background-color: #ed2224;
  font-family: "Yeshi";
  text-align: center;
  color: white;
  overflow: hidden;
  height: 100vh;
}

.neon {
  font-size: 6rem;
  line-height: 5rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff9dc;
  text-shadow: 0 0 5px #fdbb36, 0 0 10px #fdbb36, 0 0 15px #fdbb36,
    0 0 20px #fdbb36;
  animation: flicker 2s infinite;
  transition: all 1.5s ease;
}

@keyframes flicker {
  0%,
  19%,
  21%,
  23%,
  25%,
  54%,
  56%,
  100% {
    opacity: 1;
  }
  20%,
  24%,
  55% {
    opacity: 0.4;
  }
}

#title.moved {
  position: absolute;
  top: 100px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 4rem;
  line-height: 3rem;
}

#dumpling-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80vw; /* or max-width: 400px; for smaller screens */
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.dumpling-half {
  height: auto;
  transition: all 1.5s ease;
  z-index: 10;
}

#dumpling-left {
  width: 51%;
  transform: translateX(18.5%);
}

#dumpling-right {
  width: 49%;
  transform: translateX(0);
}

.split #dumpling-left {
  transform: translateX(-90%) rotate(-10deg);
}

.split #dumpling-right {
  transform: translateX(90%) rotate(10deg);
}

#paper-strip {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80vw;
  opacity: 1;
  z-index: 1;
}

#fortune-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #333;
  min-width: 70vw;
  padding: 20px 40px;
  border-radius: 4px;
  display: inline-block;
  background: #fffbe8;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
  margin: 0 auto;
  font-size: 2rem;
  font-family: "Yeshi";
  opacity: 0;
  transition: opacity 0.5s ease;
}

.fade-in {
  opacity: 1 !important;
}

.hidden {
  display: none;
}

#crack-button {
  position: fixed;
  top: 100%;
  left: 50%;
  width: 100%;
  max-width: 300px;
  transform: translateX(-50%);
  padding: 16px 20px;
  font-size: 2rem;
  cursor: pointer;
  color: #fffbe8;
  background: transparent;
  border: 6px solid #fffbe8;
  /* outline: 3px solid #fffbe8;      
  outline-offset: 6px;                */
  border-radius: 100px;
  box-shadow: none;
  transition: color 0.3s;
  font-family: "Yeshi";
}

#crack-button:hover {
  color: #ffefb0;
}
